# Python
.venv/
__pycache__/
*.py[cod]

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Pipeline data
data/raw/
data/bronze/
data/silver/
data/gold/
spark-temp/

# Logs
logs/
*.log

# Environment files
.env
.env.*

# IDE
.vscode/
.idea/

# Docker runtime
airflow/logs/